# Loop

In [5]:
# the issue is that our code unnecessarily becomes long and complex
#make sure that code is :
# simple
#as small as possible

In [7]:
start = 0
end = 4

In [8]:
while start<end:# make sure that it doesn't end up to Infinte and make sure to double check and update the condn
    print(start)
    start+=1

0
1
2
3

In [14]:
#code block 1
start=1
end=4

while start<end and True:
    print(start)
    start =  start+1
else:
    print("I am out")

1
2
3
I am out

In [15]:
# code block 2
start=1
end=4

while start<end and True:
    print(start)
    start =  start+1

print("I am out")

1
2
3
I am out

In [16]:
# diff btween code block1 and 2 is
# when my loop all iteration are not finished, then else block wont get executed

In [18]:
#break statement--
# Ideally, loop only closes itself when the condition becomes false, else get activated

In [24]:
# but we can also end our loop before it has all iterations exhausted , for that we have a keyword break
# check code block 3 & 4 & 5 &6

In [20]:
# code block 3
start=1
end=4

while start<end and True:
    print(start)
    start =  start+1
    break
else:
    print("I am out")

1

In [21]:
# code block 4
start=1
end=4

while start<end and True:
    print(start)
    start =  start+1
    break

print("I am out")

1
I am out

In [26]:
# code block 5
start=-2
end=2

while start<end and True:
    print(100/start)
    start =  start+1
else:
    print("I am out")

-50.0
-100.0

ZeroDivisionError: division by zero

In [27]:
# code block 6
start=-2
end=2

while start<end and True:
    print(100/start)
    start =  start+1
print("I am out")

-50.0
-100.0

ZeroDivisionError: division by zero

In [28]:
# code block 6
start=-2
end=2

while start<end and True:
    if start==0:
        break
    print(100/start)
    start =  start+1
print("I am out")

-50.0
-100.0
I am out

In [30]:
# code block 7
start=-2
end=2

while start<end and True:
    if start==0:
        break
    print(100/start)
    start =  start+1
else:
    print("I am out")

-50.0
-100.0

In [31]:
# continuos statement

In [32]:
#case we might want to avoid this particualar iteration but proceed with further iteration

In [37]:
start = -2
end = 2
while start < end:
    if (start==0):
        print("start is 0 here")
        start =  start +1 ##  very very important
        continue
    print(100/start)
    start =  start +1
else: 
    print("I am out")

-50.0
-100.0
start is 0 here
100.0
I am out

# For loop

In [38]:
start = 0
end = 5
for i in range(0,5):
    print(i)

0
1
2
3
4

In [39]:
li = {1,2,3,4,5}

In [40]:
for i in li:
    print(i)

1
2
3
4
5

In [42]:
x=[1,2,3,4,5]
for pos in {0,1,2,3,4}:
    print(x[pos])

1
2
3
4
5

In [43]:
# for loop handles increment after a single iteration gets completed

In [52]:
str1 ="m/u/k/u"

for char in str1:
    print(char ,end= "")

m/u/k/u

In [54]:
x= input("enter your name")
for i in x:
    if i.lower() not in ['a','e','i','o','u']:
        print(i)

enter your name mukUnthan

m
k
n
t
h
n

 # Range

In [55]:
# inbuilt function in python , returns us a range object, it is used to generate a sequence of numbers in form of a list

In [60]:
list(range(0,2))

[0, 1]

In [63]:
*range(5)

SyntaxError: can't use starred expression here (4213793176.py, line 1)

In [64]:
list(range(5,2))

[]

In [65]:
list(range(5,2,-1))

[5, 4, 3]

In [66]:
[*range(5)]

[0, 1, 2, 3, 4]

In [67]:
list(range(1.5,5.5)) # range only accepts int values

TypeError: 'float' object cannot be interpreted as an integer

In [68]:
list(range(1,5,0))

ValueError: range() arg 3 must not be zero

In [73]:
temp=1
x=int(input("Enter a number"))
for i in range(x,0,-1):
    temp=temp*i
print(temp)

Enter a number 8

40320